<h1>Bibliotecarios</h1>

<%= link_to "Cadastrar bibliotecário", new_bibliotecario_path%>

<% @bibliotecarios.each do |bibliotecario| %>

    <div>
        <p><%= bibliotecario.nome %></p>
        <p><%= bibliotecario.email %></p>

        <%= button_to "Excluir Bibliotecário", bibliotecario, method: :delete, data: { turbo_confirm: "Você tem certeza?" }%>
    </div>

<% end %>