<% flash.each do |key, message| %>
  <%
    alert_class = case key.to_sym
                  when :notice then "alert-success"
                  when :alert, :error then "alert-danger"
                  else "alert-info"
                  end
  %>
  <div class="alert <%= alert_class %>"><%= message %></div>
<% end %>
