<% content_for :title, "Editing categoria" %>

<h1>Editing categoria</h1>

<%= render "form", categoria: @categoria %>

<br>

<div>
  <%= link_to "Show this categoria", @categoria %> |
  <%= link_to "Back to categoria", categorias_path %>
</div>
