<h1>Seja bem-vindo, <%= @user.name %>!</h1>
<p>Sua conta foi criada com sucesso!</p>
<p>E sua senha randomicamente gerada foi: <%= @password %></p>
<p>Você pode utilizar ela no momento de uma solicitação empréstimo,</p>
<p>para que possa validar a solicitação.</p>
