<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para trocar sua senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Trocar de senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor ignorar esse e-mail.</p>
<p>Sua senha não será modificada até que entre nesse link e efetue a mudança.</p>
